{% extends "base.html" %}

{% block extrahead %}
<style type="text/css">
	pre { word-wrap: break-word; white-space: pre-wrap; }
</style>
{% endblock %}

{% block content %}

	<h1>Hello World!</h1>

{% endblock %}
