<!DOCTYPE html>
<html>{% load static %} {% get_static_prefix as STATIC_PREFIX %}
    
    <head>
        <title>THack 2012 London</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"
        />
        <script type="text/javascript">
            if (window.location.hash == '#_=_') window.location.hash = '';
            var STATIC_PREFIX = "{{ STATIC_PREFIX }}";
        </script>
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}style/ui-lightness/jquery-ui-1.8.21.custom.css"
        />
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}style/jquery.mobile-1.1.0.min.css"
        />
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}style/index.css" />
        <script src="{{ STATIC_PREFIX }}js/jquery-1.7.2.min.js"></script>
        <script src="{{ STATIC_PREFIX }}js/jquery-ui-1.8.21.custom.min.js"></script>
        <script src="{{ STATIC_PREFIX }}js/jquery.mobile-1.1.0.min.js"></script>
        <script src="{{ STATIC_PREFIX }}js/jquery.ui.touch-punch.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?v=3.5&sensor=true"></script>
        <script src="{{ STATIC_PREFIX }}js/tourMap.js"></script>
        <script src="{{ STATIC_PREFIX }}js/autocomplete.js"></script>
    </head>
    
    <body style="overflow-x: hidden">
        <div class="head" data-position="static">
            <img id="getinspired" src="{{ STATIC_PREFIX }}images/GetInspired.png">
            <div id="headertop"></div>
            <div id="headerbottom"></div>
        </div>
        <!-- /header -->
        <div class="overlay" id="progressview">
            <div class="opaque"></div>
            <div id="modal">
                 <h1>Please wait while we process information...</h1>

                <div id="progressbar"></div>
                <div id="progresstext"></div>
            </div>
        </div>
        <div data-role="page" id="mainPage">
            <div data-role="content">
                <section id="main">
                    <section id="inputs">
                        <section id="tripinput">
                            <div id="depcity">
                                <p>Departure dates range:</p>
                                <div id="deps">
                                    <div class="depfrom">
                                        <p>from:</p>
                                        <input type="date" id="depdatefrom" name="depdate" value="2012-07-28"
                                        />
                                    </div>
                                    <div class="depto">
                                        <p>to:</p>
                                        <input id="depdateto" type="date" name="depdate" value="2012-08-11"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div id="datesbox">
                                <div class="inputitem inputleft">
                                    <label for="search-city">From:</label>
                                    <input type="search" name="search" id="search-city" value=""
                                    />
                                    <input id="search-city-id" type="hidden">
                                </div>
                                <div class="inputitem inputright">
                                    <p>Trip duration:</p>
                                    <select id="staydur" name="staydur">
                                        <option value="3">3 Days</option>
                                        <option value="4">4 Days</option>
                                        <option value="5">5 Days</option>
                                        <option value="6">6 Days</option>
                                        <option value="7" selected>7 Days</option>
                                        <option value="8">8 Days</option>
                                        <option value="9">9 Days</option>
                                        <option value="10">10 Days</option>
                                        <option value="11">11 Days</option>
                                        <option value="12">12 Days</option>
                                        <option value="13">13 Days</option>
                                        <option value="14">14 Days</option>
                                    </select>
                                </div>
                            </div>
                        </section>
                        <div id="fbcont">
                            <!-- <div id="fbtext">
			<p>Tell us what you like or let us do the magic</p>
		     </div>-->
                            <div id="fbimg">
                                <a href="" data-theme="" id="FloginButton">
                                    <img src="{{ STATIC_PREFIX }}images/facebookbtn.png" style="width:12em;"
                                    onclick="javascript:facebookLogin();">
                                </a>
                            </div>
                        </div>
                        <section id="interestgroup">
                            <div data-role="fieldcontain" class="checkgroup">
                                <fieldset data-role="controlgroup">
                                    <input type="checkbox" name="checkbox-beach" id="checkbox-beach" class="custom"
                                    />
                                    <label for="checkbox-beach">Beach</label>
                                    <input type="checkbox" name="checkbox-mountain" id="checkbox-mountain"
                                    class="custom" />
                                    <label for="checkbox-mountain">Mountain</label>
                                    <input type="checkbox" name="checkbox-fashion" id="checkbox-fashion"
                                    class="custom" />
                                    <label for="checkbox-fashion">Fashion</label>
                                    <input type="checkbox" name="checkbox-art" id="checkbox-art"
                                    class="custom" />
                                    <label for="checkbox-art">Art</label>
                                </fieldset>
                            </div>
                            <div data-role="fieldcontain" class="checkgroup">
                                <fieldset data-role="controlgroup">
                                    <input type="checkbox" name="checkbox-history" id="checkbox-history" class="custom"
                                    />
                                    <label for="checkbox-history">History</label>
                                    <input type="checkbox" name="checkbox-nightlife" id="checkbox-nightlife"
                                    class="custom" />
                                    <label for="checkbox-nightlife">Nightlife</label>
                                    <input type="checkbox" name="checkbox-winter" id="checkbox-winter"
                                    class="custom" />
                                    <label for="checkbox-winter">Winter</label>
                                    <input type="checkbox" name="checkbox-city" id="checkbox-city"
                                    class="custom" />
                                    <label for="checkbox-city">City</label>
                                </fieldset>
                            </div>
                            <div data-role="fieldcontain" class="checkgroup">
                                <fieldset data-role="controlgroup">
                                    <input type="checkbox" name="checkbox-nature" id="checkbox-nature" class="custom"
                                    />
                                    <label for="checkbox-nature">Nature</label>
                                    <input type="checkbox" name="checkbox-religion" id="checkbox-religion"
                                    class="custom" />
                                    <label for="checkbox-religion">Religion</label>
                                    <input type="checkbox" name="checkbox-forest" id="checkbox-forest"
                                    class="custom" />
                                    <label for="checkbox-forest">Wildlife</label>
                                    <input type="checkbox" name="checkbox-children" id="checkbox-children"
                                    class="custom" />
                                    <label for="checkbox-children">Family</label>
                                </fieldset>
                            </div>
                        </section>
                    </section>
                    <section id="textsection">
                         <h1><span style="color: 3c3c3c">Get</span><span style="color: #2a5679">Inspired</span> is an innovative travel search service</h1>

                        <ul>
                            <li>Connect to our app using Facebook</li>
                            <li>Our algorithms will guess what you like</li>
                            <li>Get inspired on your next travel destination and activities!</li>
                        </ul>
                        <img src="{{ STATIC_PREFIX }}images/logos.png" />
                    </section>
                </section>
                <div id="inspirebtn" class="inspirebtn">
                    <!-- <a href="" onclick="postData();" data-role="button">Inspire me</a> -->Inspire me!</div>
                <section id="footer">
                    <div id="logos">
                        <img src="{{ STATIC_PREFIX }}images/amadeus.png" />
                    </div>
                    <p>2001-2012 All Rights Reserved.</p>
                </section>
            </div>
            <!-- /content -->
        </div>
        <!-- /page -->
        <div class="overlay" id="detailsview">
            <div class="opaque"></div>
            <div id="detailsmodal"></div>
        </div>
        <div data-role="page" id="resultsPage">
            <div data-role="content">
                <div id="block1">
                    <ul data-role="listview" data-theme="d" id="resultslist"></ul>
                </div>
                <!--<div id="cont">
	 <div id="sideblock">
	    <div id="handle">
	       <div id="handlegraphics"><img src="{{ STATIC_PREFIX }}images/Slider_Arrows.png"/></div>
	    </div>
	    <div id="options">
	       <div id="pullme">
		  <h1>

		  </h1>
	       </div>
	    </div>
	 </div>
      </div>--></div>
        </div>
        <!-- Third Screen -->
        <div data-role="page" id="tourPage">
            <div data-role="content">
                <div id="eventsmenu" style="float: left; display: inline-block;  margin: 0; padding: 0; left: 0; width: 30%;">
                    <ul data-role="listview" data-theme="d" id="eventslist" style="margin: 0; margin-left: 0px !important; padding: 0; left: 0; width: 100%;"></ul>
                </div>
                <div id="tourmap" style="float left; display: inline-block; margin: 0; padding: 0; width: 70%;"></div>
            </div>
        </div>
        <!-- /Third Screen -->
    </body>

</html>
<!-- Themes and destinations returned from FB/Inspiration interface -->
<script type="text/javascript">
    var themes = {
        "content": {
            /*{ themes | safe }*/
        }
    };
    ths = new Array();
    // Watches over changes on the themes variable
    function watch() {
        if ((!jQuery.isEmptyObject(themes["content"]))) {
            myhandler();
        }
    }

    var myhandler = function () {

        for (var k = 0; k < themes.content.themes.length; k++) {
            th = new Object();
            th.name = themes.content.themes[k].name;
            th.score = themes.content.themes[k].score;
            th.reasons = themes.content.themes[k].reasons;
            th.reasonsText = themes.content.reasons;
            ths.push(th);

        };

        ths.sort(sortfunction);
        ths.reverse();
        for (i = 0;
        (i < 4 && i < ths.length); i++) {
            $("#checkbox-" + ths[i].name).attr("checked", true).checkboxradio("refresh");
        }
        clearInterval(intervalH);
        $("#overlay").hide();

        showReasons(ths);
    };

    function capitalize(str) {
        return str.charAt(0).toUpperCase() + str.slice(1);
    }

    function showReasons(themesReasons) {
        var blockConfiguration = "<div style='float: left; display: block; margin-right: 10px'>";
        var html = "<div class='event'>";
        var numThemes = 4;
        if (themesReasons.length < numThemes) numThemes = themesReasons.length;

        for (var i = 0; i < numThemes; i++) {
            html += "<div style='display: inline-block; vertical-align: top;  width: 48%;'><h1>" + (i + 1) + ". " + capitalize(themesReasons[i].name) + "</h1>";
            var because = "";
            var mightLike = "";
            var numReasons = 0;
            for (var j = 0; j < themesReasons[i].reasons.length; j++) {
                if (numReasons >= 4) continue;

                var type = themesReasons[i].reasons[j].type;
                var category = type.toString().charAt(0);
                var eventText = "<p>" + themesReasons[i].reasonsText[themesReasons[i].reasons[j].type] + themesReasons[i].reasons[j].text + "</p>";
                if (category == "1") {
                    because += eventText;
                    numReasons++;
                } else if (category == "2") {
                    mightLike += eventText;
                } else console.log(category);
            }
            html += "<div>" + because + "</div></div>";
            //html += blockConfiguration + because + "</div>";
            //html += blockConfiguration + mightLike + "</div>";
        }
        html += "</div>";
        addtoModal(html);
    }

    function sortfunction(a, b) {
        if (a.score > b.score) {
            return 1;
        } else if (a.score < b.score) {
            return -1;
        } else return 0;
    }

    var intervalH = setInterval(watch, 300);
    //
    //   $(window).load(function () {
    //
    //	    jQuery.each(themes, function(i, theme) {
    //	       $("#checkbox-" + theme.name).attr("checked",true).checkboxradio("refresh");
    //	    });
    //
    //   });

    //Side menu settings
    out = false;
    drag = false;


    //Global variables

    //TourMap
    var tourMapOptions = {
        center: new google.maps.LatLng(13.239945, 8.4082),
        zoom: 3,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        panControl: false
    };
    var tourmap = new TourMap("#tourmap", tourMapOptions, getDetailedEvent);

    //Hotel category
    cat = "cat2";

    //Selected activities

    activities = new Array();

    $(document).ready(function () {


        // Load airport names
        city_names = load_airports(true);
        // Define the array containing the values for autocompletion
        // to be used with setAutoCompletion()
        var city_autocomplete = get_autocompletion_array(city_names);

        setAutoCompletion(
            "#search-city", city_autocomplete,
        0, 0, 10, 200
        //stop_enter('#from')
        );

        $(".overlay").css("height", $('.ui-page-active').height() + 130);
        $(".opaque").css("height", $('.ui-page-active').height() + 130);
        $("#detailsmodal").click(function () {
            $(this).children().remove();
            $(".overlay").hide();
        });

        $("#inspirebtn").click(function () {
            postData();
            i = 0;
            text = "Exploring possible destinations...";
            $("#progresstext").append("<p>" + text + "...</p>");

            $("#progressbar").progressbar({
                value: 0
            });

            setTimeout(updateProgress, 300);

            function updateProgress() {
                var progress;
                progress = $("#progressbar")
                    .progressbar("option", "value");
                if (progress < 100) {
                    $("#progressbar")
                        .progressbar("option", "value", progress + 1);
                    setTimeout(updateProgress, 300);
                } else {
                    $("#progressbar")
                        .progressbar("option", "value", 0);
                    setTimeout(updateProgress, 300);
                }

                if (progress == 25) {
                    $("#progresstext p").text("Retrieving flights...");
                }

                if (progress == 50) {
                    $("#progresstext p").text("Matching hotel availabilities...");
                }

                if (progress == 75) {
                    $("#progresstext p").text("Searching for interesting activities and events...");
                }
            }




            $("#modal").css("height", $(window).height() * 0.2);
            $("#modal").css("margin-top", $(window).height() * 0.4);
            $("#modal").addClass("box-change");
            $("#modal").css("webkitAnimationName", 'bounce');
            $("#progressview").show();

            // $("#example").show();
        });

        //$("#inspirebtn").bind("click", function() {
        //   window.location.href = "#example";
        //   return false;
        //})
    });



    $(document).bind('pageshow', function () {
        $("#progressview").hide();
        $("#detailsview").hide();
        //      winwidth=$(window).width();
        //      outleft = $("#cont").offset().left - $(window).width()*0.8;
        //      minx = -$(window).width()*0.05;
        //      $("#sideblock").draggable({
        // 			revert: false,
        // 			containment: [minx,0,2000,0],
        // 			axis: 'x',
        // 			zIndex: 99999,
        //			drag: function(event) {
        //			      dragHandle(event);
        //			}
        // 			});
        $(".overlay").css("height", $('.ui-page-active').height() + 130);
        $(".opaque").css("height", $('.ui-page-active').height() + 130);
        jQuery.each($("li[data-role='list-divider'] .maketour"), function (i, val) {
            $(this).removeClass('ui-btn-up-d').addClass('ui-btn-up-b');
            $(this).removeClass('ui-btn-hover-d').addClass('ui-btn-hover-b');
            $(this).find(".ui-li-link-alt").removeClass('ui-btn-up-d').addClass('ui-btn-up-b');
            $(this).find(".ui-li-link-alt").removeClass('ui-btn-hover-d').addClass('ui-btn-hover-b');
        });

        jQuery.each($("li[data-role='list-divider'] .reason"), function (i, val) {
            $(this).removeClass('ui-btn-up-d').addClass('ui-btn-up-e');
            $(this).removeClass('ui-btn-hover-d').addClass('ui-btn-hover-e');
            $(this).find(".ui-li-link-alt").removeClass('ui-btn-up-e').addClass('ui-btn-up-e');
            $(this).find(".ui-li-link-alt").removeClass('ui-btn-hover-e').addClass('ui-btn-hover-e');
        });

    });


    result = new Object();

    $('#resultsPage').live('pageshow', function (event, ui) {
        var list = document.getElementById('resultslist');
        $(list).listview();
        $(list).listview("refresh");
        $(this).css("height", $("#block1").height() + 30);
        $("#resultslist [data-role=list-divider] .maketour").attr("data-theme", "b");
        $("#resultslist [data-role=list-divider] .maketour").find("a .maketour").attr("data-theme", "b");
        $("#resultslist [data-role=list-divider] .reason").attr("data-theme", "e");
        $("#resultslist [data-role=list-divider] .reason").find("a .reason").attr("data-theme", "e");
        $("#resultsPage").trigger("create");
        $("#resultslist").listview("refresh");

    });

    $('#tourPage').live('pageshow', function (event, ui) {
        $("#tourmap").height($(window).height() - 150);
        google.maps.event.trigger(tourmap.map, 'resize');
        tourmap.center()
        var list = document.getElementById('eventslist');
        $(list).listview();
        $(list).listview("refresh");
        $("#tourPage").trigger("create");
        tourmap.center();
    });

    function postData() {
        var jsonObjects = new Object();
        jsonObjects.themes = new Array();
        var i = 0;
        $('input[type=checkbox]').each(function () {
            if (this.checked) {
                spl = (this.id).split('-');
                jsonObjects.themes[i] = spl[1];
                i++;
            }
        })
        jsonObjects.destinations = new Array();
        j = 0;

        if (!jQuery.isEmptyObject(themes.content)) {
            jQuery.each(themes.content.destinations, function (idx, dest) {
                jQuery.each(dest.iata, function (ind, iata) {
                    jsonObjects.destinations[j] = iata;
                    j++;
                });
            });
        }


        jsonObjects.departure = "LON";
        datacon = ($("#depdatefrom").val()).split("-");
        newdate1 = datacon[0] + datacon[1] + datacon[2];
        //jsonObjects.depdate = newdate1;

        datacon = ($("#depdateto").val()).split("-");
        newdate2 = datacon[0] + datacon[1] + datacon[2];
        jsonObjects.depdate = new Array();
        jsonObjects.depdate[0] = newdate1;
        jsonObjects.depdate[1] = newdate2;

        jsonObjects.stayduration = $("#staydur").val();
        //	 jsonObjects.destinations = new Array();

        //var jsonObjects = {"themes":["ski","diving"],
        //                 "destinations":["AKL","NYC"],
        //                 "departure":"LON",
        //                 "depdate":"20120712", "stayduration":"7"
        //                };

        jQuery.ajax({
            url: "/inspireme",
            type: "GET",
            dataType: "json",
            data: {
                userinput: JSON.stringify(jsonObjects)
            },
            success: function (res) {
                $('#overlay').hide();
                console.log(res);
                populateList(res);
                fillThemes();
                $.mobile.changePage("#resultsPage", {
                    transition: "slideup"
                });
            }
        });
    }


    //var APP_ID="352290964842300";
    var APP_ID = "465008310194627";

    function facebookLogin() {
        i = 0;
        text = "Processing Facebook account information for relevant data";
        $("#progresstext").append("<p>" + text + "...</p>");
        $("#progressbar").progressbar({
            value: 0
        });

        setTimeout(updateProgress, 1300);

        function updateProgress() {
            var progress;
            progress = $("#progressbar")
                .progressbar("option", "value");
            if (progress < 100) {
                $("#progressbar")
                    .progressbar("option", "value", progress + 1);
                setTimeout(updateProgress, 1300);
            } else {
                $("#progressbar")
                    .progressbar("option", "value", 0);
                setTimeout(updateProgress, 1300);
            }

            if (progress == 25) {
                $("#progresstext p").text("Image recognition for possible destinations");
            }

            if (progress == 50) {
                $("#progresstext p").text("Destinations and activities extraction from Post text and Likes");
            }

            if (progress == 75) {
                $("#progresstext p").text("Climate analysis for alternative destinations");
            }

        }



        $("#modal").css("height", $(window).height() * 0.2);
        $("#modal").css("margin-top", $(window).height() * 0.4);
        $("#modal").addClass("box-change");
        $("#modal").css("webkitAnimationName", 'bounce');
        $("#progressview").show();


        top.location.href =
            'https://www.facebook.com/dialog/oauth?' +
            'client_id=' + APP_ID +
        //'&redirect_uri=http%3a%2f%2flocalhost%3a8000%2ffacebook%2f' +
        '&redirect_uri=http%3a%2f%2flocalhost%3a8000%2ffacebook%2f' +
            '&state=test_amadeus' +
            '&scope=' +
            'user_about_me, user_activities, user_birthday, user_checkins, user_education_history, ' +
            'user_events, user_games_activity, user_groups, user_hometown, user_interests, user_likes, ' +
            'user_location, user_notes, user_online_presence, user_photo_video_tags, user_photos, ' +
            'user_questions, user_relationship_details, user_relationships, user_religion_politics, ' +
            'user_status, user_subscriptions, user_videos, user_website, user_work_history, ' +
            'user_actions.music, user_actions.news, user_actions.video, friends_about_me, ' +
            'friends_activities, friends_birthday, friends_checkins, friends_education_history, ' +
            'friends_events, friends_games_activity, friends_groups, friends_hometown, ' +
            'friends_interests, friends_likes, friends_location, friends_notes, friends_online_presence, ' +
            'friends_photo_video_tags, friends_photos, friends_questions, friends_relationship_details, ' +
            'friends_relationships, friends_religion_politics, friends_status, friends_subscriptions, ' +
            'friends_videos, friends_website, friends_work_history, friends_actions.music, ' +
            'friends_actions.news, friends_actions.video, ads_management, create_event, create_note, ' +
            'email, export_stream, manage_friendlists, manage_notifications, manage_pages, offline_access, ' +
            'photo_upload, publish_actions, publish_checkins, publish_stream, read_friendlists, ' +
            'read_insights, read_mailbox, read_requests, read_stream, rsvp_event, share_item, sms, ' +
            'status_update, video_upload, xmpp_login';
    }


    $("#backBtn")
        .click(function () {
        history.back();
        return false;
    });

    function fillThemes() {

    }

    function populateList(resultObj) {

        jQuery.each(resultObj.ideas, function (i, idea) {
            if (idea.citycode) {
                var listItem = document.createElement('li');
                listItem.setAttribute('data-role', 'list-divider');
                $(listItem).addClass('maketour');
                price = idea.flights.price.amount;
                if (idea.hotels) {
                    jQuery.each(idea.hotels, function (i, hot) {
                        price += hot[cat].amount;
                    });
                }
                listItem.innerHTML = "<a href='' data-theme='b' class='maketour'><h1>" + idea.cityname + "</h1>" + "<h2>From: $ " + Math.ceil(price) + "</h2></a>";
                listItem.innerHTML += "<a href='' data-icon='arrow-r' class='maketour' city='" + idea.citycode + "' data-theme='b'></a>";
                var listItemReason = document.createElement('li');
                $(listItemReason).addClass('reason');
                listItemReason.setAttribute('data-role', 'list-divider');
                listItemReason.innerHTML = "<a href='' data-theme='e' class='reason'><h2>Why did you suggest me " + idea.cityname + "?</h2></a>";
                listItemReason.innerHTML += "<a href='' data-icon='info' class='reason' city='" + idea.cityname + "' data-theme='e'></a>";
                $('#resultslist').append(listItem);
                $('#resultslist').append(listItemReason);
                jQuery.each(idea.events, function (i, event) {
                    var listItem = document.createElement('li');
                    var img = ""
                    if (event.cats) {
                        img = "{{ STATIC_PREFIX }}images/default_pictures/theme-picture-" + event.cats[0] + ".png";
                    } else {
                        img = "{{ STATIC_PREFIX }}images/default_pictures/theme-picture-general.png";
                    }
                    if (event.img) {
                        img = event.img;
                    }
                    var city = "Not specified";
                    var where = "Not specified";
                    if (event.city) {
                        city = event.city;
                    }
                    if (event.where) {
                        where = event.where + ', ' + event.city;
                    }
                    if (event.type) {
                        if (event.type == "EVT") type = "Event";
                        if (event.type == "POI") type = "Point Of Interest";
                    }

                    var start_date = '';
                    var end_date = '';
                    if (event.start != undefined) {
                        start_date = formatDate(event.start);
                    }
                    if (event.end != undefined) {
                        end_date = formatDate(event.end);
                    }

                    var when = '';
                    if (start_date != '') {
                        when += "When: " + start_date;
                    }
                    start_date;
                    if (end_date != start_date && end_date != '') {
                        when += ' - ' + end_date;
                    }

                    listItem.innerHTML = "<div data-role='controlgroup' data-type='horizontal' id=" + event.api + "&" + event.id + ">";
                    listItem.innerHTML += "<a href=''><img src='" + img + "'><h1>" + event.title + "</h1><p> Where: " + where + "</p><p>" + when + "</p><p> Category type: " + type + "</p></a>";
                    listItem.innerHTML += "<a href='' data-icon='check' city='" + idea.citycode + "' data-theme='c'></a></div>";
                    $('#resultslist').append(listItem);
                });
            }
        });

        //jQuery.each(resultObj.ideas, function(i, val) {
        //   $("#resultslist").append("<li>" + val.citycode + "</li>");
        //});


    };

    $("#resultslist li .ui-li-has-alt").live("click", function (e) {
        var ct = "";
        if ($(this).parent("li[data-role='list-divider']").hasClass("maketour")) {
            ct = $(this).parent("li[data-role='list-divider']").find(".ui-li-link-alt").attr("city");
            jQuery.each($(this).parent("li[data-role='list-divider']").siblings().not(".reason"), function (i, val) {
                if ($(this).find(".ui-li-link-alt").attr("city") == ct) {
                    toggleCheckbox($(this).find(".ui-li-link-alt"));
                }
            });
        } else {
            val = $(this).find("div .ui-controlgroup").attr("id");
            det = getDetails(val);
            offset = 50;
            pos_y = e.pageY - offset;

            getDetailedEvent(det[0], det[1], 0, pos_y);


        }

    });

    function addtoModal(innerHtml, pos_x, pos_y) {
        if (pos_x == undefined) pos_x = 0;
        if (pos_y == undefined) pos_y = 150;

        $("#detailsmodal").append(innerHtml);
        $("#detailsmodal .event").css("margin-top", pos_y + "px");
        $("#detailsview").show();
    }

    $("#resultslist li .ui-li-link-alt").live("click", function (e) {
        if ($(this).hasClass("maketour")) {
            jsonTour = new Object();
            jsonTour.events = activities;
            jsonTour.origin = "LON";
            datacon1 = ($("#depdatefrom").val()).split("-");
            datacon2 = ($("#depdateto").val()).split("-");
            newdate1 = datacon1[0] + datacon1[1] + datacon1[2];
            newdate2 = datacon1[0] + datacon1[1] + datacon1[2];
            jsonTour.from_date = new Array();
            jsonTour.from_date[0] = newdate1;
            jsonTour.from_date[1] = newdate2;
            jsonTour.stay_duration = $("#staydur").val();
            jsonTour.destination = $(this).attr("city");
            jQuery.ajax({
                url: "/maketour",
                type: "GET",
                dataType: "json",
                data: {
                    userinput: JSON.stringify(jsonTour)
                },
                success: function (res) {
                    console.log(res);
                    showTour(res);
                    console.log("ok");
                    $.mobile.changePage("#tourPage", {
                        transition: "slideup"
                    });
                },
                error: function (a, b, c) {
                    console.log("error: " + a + " " + b + " " + c);
                }
            });
        } else if ($(this).hasClass("reason")) {
            offset = 50;
            pos = e.pageY - offset;
            showReasonModal($(this).attr("city"), pos);
        } else {
            console.log("in the else...");
            toggleCheckbox($(this));
        }

    });

    function showReasonModal(cityname, pos) {
        if (themes.content) {
            htmlmodal = "<div id='reasons' class='event'><div id='closebtn'>X</div><h1>Reasons for your suggestions</h1>";

            jQuery.each(themes.content.destinations, function (i, dest) {
                if (dest.name == cityname) {
                    for (i = 0; i < 5 && i < dest.reasons.length; i++) {
                        if (themes.content.reasons[dest.reasons[i].type] == 111) {
                            htmlmodal += "<p>" + themes.content.reasons[dest.reasons[i].type] + dest.reasons[i].text + "</p>";
                        } else {
                            htmlmodal += "<p>" + themes.content.reasons[dest.reasons[i].type] + dest.reasons[i].text + "</p>";
                        }
                    }
                    htmlmodal += "</div>";
                    addtoModal(htmlmodal, 0, pos);
                    return
                }
            });

        }
    };


    function toggleCheckbox(elem) {
        if (elem.find('.ui-btn-up-e').length) {
            elem.find("span .ui-btn").removeClass('ui-btn-up-e').addClass('ui-btn-up-c');
            elem.find("span .ui-btn").removeClass('ui-btn-hover-e').addClass('ui-btn-hover-c');
            detail = getDetails((elem.prev().find("div .ui-controlgroup")).attr("id"));
            for (j = 0; j < activities.length; j++) {
                if (activities[j].id == detail[1]) {
                    activities.splice(j, 1);
                    break;
                };
            };
        } else {
            elem.find("span .ui-btn").removeClass('ui-btn-up-c').addClass('ui-btn-up-e');
            elem.find("span .ui-btn").removeClass('ui-btn-hover-c').addClass('ui-btn-hover-e');
            act = new Object();
            detail = getDetails((elem.prev().find("div .ui-controlgroup")).attr("id"));
            act.api = detail[0];
            act.id = detail[1];
            activities.push(act);
        }
        $("#resultslist").listview("refresh");
    };

    function getDetails(activity) {
        activitysplit = activity.split("&");
        return activitysplit;
    };


    function getDetailedEvent(API, event_id, pos_x, pos_y) {
        if (pos_x == undefined) pos_x = 0;
        if (pos_y == undefined) pos_y = 150;

        var eventurl = "/event/" + API + "/" + event_id;
        var eventHTML = "<div class='event'> ";
        eventHTML += "<div id='closebtn'>X</div>";
        $.ajax({
            url: eventurl,
            type: "GET",
            dataType: "json",
            success: function (data) {
                console.log(data);
                // Get informations for the description row
                eventHTML += "<div class='description'>";
                eventHTML += "<h1>" + valueOrDefault(data['title']) + "</h1>";
                if (data['city'] != undefined) eventHTML += "<h2>" + valueOrDefault(data['city']) + ", ";
                if (data['start'] != undefined && data['end'] == undefined) {
                    eventHTML += (data['start'].replace('T', ' at ')).replace(/:00$/, '');
                } else if (data['start'] == undefined && data['end'] != undefined) {
                    eventHTML += (data['end'].replace('T', ' at ')).replace(/:00$/, '');
                } else if ((data['start'] != undefined && data['end'] != undefined)) {
                    eventHTML += (data['start'].replace('T', ' at ')).replace(/:00$/, '') + " to " + (data['end'].replace('T', ' at ')).replace(/:00$/, '');
                }
                eventHTML += "</h2>"
                if (data['ta_rating'] != undefined) eventHTML += "<img  src='" + data['ta_rating'] + "'/>";
                eventHTML += "<div class='details'><p>" + valueOrDefault(data['desc']) + " ";
                if (data['link'] != undefined) eventHTML += "<a target='_blank' href=" + data['link'] + ">read more...</a>";
                eventHTML += "</p>"
                eventHTML += "</div></div>";

                // Get informations for the photo row
                if (data.img) {
                    img = data.img;
                } else {
                    img = "{{ STATIC_PREFIX }}images/default_pictures/theme-picture-" + data.cats[0] + ".png";
                }
                eventHTML += "<div class='photo'><img class='image' alt='Event picture' src='" + valueOrDefault(img) + "'/>";

                if (data['cur'] != undefined && (data['minp'] != undefined || data['maxp'] != undefined)) {
                    eventHTML += "<p class='price'>Price:";
                    if (data['minp'] != undefined) eventHTML += data['minp'];
                    if (data['maxp'] != undefined) eventHTML += " up to " + data['maxp'];
                    eventHTML += data['cur'] + "</p>";
                }
                if (data['cur'] != undefined) eventHTML += "<p class='duration'>Duration: " + data['duration'] + "</p>";

                eventHTML += "</div></div>";

                if (pos_y != undefined) {
                    addtoModal(eventHTML, pos_x, pos_y);
                } else {
                    winh = $(window).height();
                    value = (winh - $("#detailsmodal .event").height()) / 2;
                    addtoModal(eventHTML, pos_x, value);
                }

                return eventHTML;
            },
            error: function (xhRequest, ErrorText, thrownError) {
                alert(thrownError);
            }
        });
    };

    function valueOrDefault(value, def) {
        if (def == undefined) def = "";
        return value == undefined ? def : value;
    };



    function formatDate(dateStr, dateFmt) {
        var date = new Date(Date.parse(dateStr));
        var month = date.getMonth() + 1;
        var day = date.getDate();
        if (("" + month).length < 2) month = "0" + month;
        if (("" + day).length < 2) day = "0" + day;
        var dateString = date.getFullYear() + "/" + month + "/" + day;
        return dateString;

    }


    /* Manages the drag animations and it's called every time
     * a drag action is performed. Managed cases: left dragging and right dragging
     */
    //      function dragHandle(event) {
    //	      //Handles the dragging out of the calendar
    //	      if(($('#sideblock').position().left < $(window).width()*0.8) && !out && !$(this).parent().children().is(':animated') && !drag) {
    //			      drag = true;
    //			      $(document).trigger("mouseup");
    //			      $('#sideblock').css('transform', 'translate3d(0,0,0)');
    //			      $('#sideblock').css('-webkit-transform', 'translate3d(0,0,0)');
    //			      $('#sideblock').css('-moz-transform', 'translate3d(0,0,0)');
    //			      $('#sideblock').css('-o-transform', 'translate3d(0,0,0)');
    //			       $("#pullme").fadeToggle("fast");
    //			      $('#sideblock').animate({
    //				  left: '-='+ ($("#sideblock").offset().left - outleft)
    //				}, 500, function() {
    //				      drag = false;
    //				      out = true;
    //				});
    //		      } else
    //
    //		      //Handles the dragging out of the calendar by pushing it towards right
    //		      if((($('#sideblock').offset().left - $('#cont').offset().left) > 10) && !out && !$(this).parent().children().is(':animated') && !drag) {
    //			      drag = true;
    //			      $(document).trigger("mouseup");
    //			      $('#sideblock').css('transform', 'translate3d(0,0,0)');
    //			      $('#sideblock').css('-webkit-transform', 'translate3d(0,0,0)');
    //			      $('#sideblock').css('-moz-transform', 'translate3d(0,0,0)');
    //			      $('#sideblock').css('-o-transform', 'translate3d(0,0,0)');
    //			      $("#pullme").fadeToggle("fast");
    //			      $('#sideblock').animate({
    //				  left: '+=' + (winwidth*1.10 - $("#sideblock").offset().left)
    //				}, 300, function() {
    //					$('#sideblock').animate({
    //						  left: '+=' + (outleft - $('#sideblock').offset().left)
    //						}, 700, function() {
    //							out = true;
    //							drag = false;
    //						});
    //				});
    //		      } else
    //
    //		      //Handles the dragging of the calendar back in
    //		      if((($('#sideblock').offset().left - outleft) > 10) && out && !$(this).parent().children().is(':animated') && !drag) {
    //			      drag = true;
    //			      $(document).trigger("mouseup");
    //			      $('#sideblock').css('transform', 'translate3d(0,0,0)');
    //			      $('#sideblock').css('-webkit-transform', 'translate3d(0,0,0)');
    //			      $('#sideblock').css('-moz-transform', 'translate3d(0,0,0)');
    //			      $('#sideblock').css('-o-transform', 'translate3d(0,0,0)');
    //			      $("#pullme").fadeToggle("fast");
    //			      $('#sideblock').animate({
    //				  left: '+=' + ($('#cont').offset().left - $('#sideblock').offset().left)
    //			      }, 500, function() {
    //					out = false;
    //					drag = false;
    //				});
    //		      } else
    //
    //		      //Handles the dragging of the calendar back in by pushing towards left
    //		      if((($('#sideblock').offset().left - outleft) < -10) && out && !$(this).parent().children().is(':animated') && !drag) {
    //			      drag = true;
    //			      $(document).trigger("mouseup");
    //			      $('#sideblock').css('transform', 'translate3d(0,0,0)');
    //			      $('#sideblock').css('-webkit-transform', 'translate3d(0,0,0)');
    //			      $('#sideblock').css('-moz-transform', 'translate3d(0,0,0)');
    //			      $('#sideblock').css('-o-transform', 'translate3d(0,0,0)');
    //			      $("#pullme").fadeToggle("fast");
    //			      $('#sideblock').animate({
    //				  left: '-=' + (winwidth*0.05 + $('#sideblock').offset().left)
    //				}, 300, function() {
    //					$('#sideblock').animate({
    //						left: '+=' + ($('#cont').offset().left - $('#sideblock').offset().left)
    //						},700, function() {
    //							out = false;
    //							drag = false;
    //						});
    //				});
    //		      }
    //      };




    function showTour(res) {
        tourmap.makeTour(res);
        $.each(res, function (i, tourElement) {
            //if(tourElement.type[1] == "AIRPORT") {
            //	var listItem = document.createElement('li');
            //	listItem.innerHtml = "<a href=''><h1>Flight from " + "" + " to " + "" + "</h1></a>";
            //	$('eventslist').append(listItem);
            //}
            //else
            if (tourElement.type[0] == "POINT" && tourElement.type[1] != "AIRPORT") {
                var listItem = document.createElement('li');
                var eventType = "";
                if (tourElement.type[1] == "EVENT") {
                    eventType = "Event";
                } else if (tourElement.type[1] == "POI") {
                    eventType = "Point of Interest";
                } else if (tourElement.type[1] == "HOTEL") {
                    eventType = "Hotel";
                }
                var date = new Date(Date.parse(tourElement.start));
                var month = date.getMonth() + 1;
                var day = date.getDate();
                if (("" + month).length < 2) month = "0" + month;
                if (("" + day).length < 2) day = "0" + day;
                var dateString = date.getFullYear() + "/" + month + "/" + day;

                listItem.innerHTML = "<a href='' onclick='getDetailedEvent(\"" + tourElement.api + "\",\"" + tourElement.id + "\");'><h1>" + tourElement.name + "</h1><p>" + eventType + "</p><p>" + dateString + "</p></a>";
                $('#eventslist').append(listItem);
            }
        });
    }
</script>
