<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Login Page</title>
<style type="text/css">
	body {
		font-family: Arial, Helvetica, sans-serif;
		width: 1000px;
		margin: 0px auto; 
	}
	#login-bar {
		background: #94DA3A;
		padding: 7px 7px 7px 7px;
	}
	#logo-bar {
		
	}
	#page-content {
		padding: 1px 1px 1px 1px;
		border: 1px solid;
	}
</style>
{% block extrahead %}
{% endblock %}
</head>
<body>
	
	<div id="login-bar">
		<a href="/user/">Index</a>
		<span> | </span>
		{% if user.is_authenticated %}
			<a href="/user/logout/">Logout</a>
			<span> | </span>
			<a href="/user/profile/">{{user.username}}</a>
		{% else %}
			<a href="/user/login/">Login</a>
			<span> | </span>
			<a href="/user/register/">Register</a>
		{% endif %}
	</div>
	
	<div id ="logo-bar">
		<img src='{{ STATIC_URL }}images/questhunter.png' alt='logo'>
	</div>
	
	<div id="page-content">
		{% block content %}
	    {% endblock %}
    </div>

</body>
</html>
