
pre { word-wrap: break-word; white-space: pre-wrap; }

/* Home */

.ui-dialog#dialog-search .ui-dialog-contain {
	/* search dialog slide down from top */
	margin-top: 0;
}

/* Profile */

.ul-login .ui-li-thumb {
	max-width: 100%;
	max-height: 100%;
	top: 0;
}

.ul-login .desc-login {
	margin-left: 30px;
	font-size: 16px;
}

.desc-login-renren {color: #0061C8;}
.desc-login-weibo {color:#E32529;}
.desc-login-wechat {color:#8DCA1D;}
