{% extends "base.html" %}

{% block extrahead %}
<style type="text/css">
	pre { word-wrap: break-word; white-space: pre-wrap; }
</style>
{% endblock %}

{% block content %}

	<h1>Hello World!</h1>

	<script type="text/javascript">
		function weibo_login() {
			top.location.href = '{{ weibo_login_link|safe }}';
		}
		function renren_login() {
			top.location.href = '{{ renren_login_link|safe }}';
		}
	</script>

	<pre>{{ weibo_login_link|safe }}</pre>
	<pre>{{ renren_login_link|safe }}</pre>
	
	<p><img src='{{ STATIC_URL }}images/weibologin.png' onclick='weibo_login();'></p>
	<p><img src='{{ STATIC_URL }}images/renrenlogin.png' onclick='renren_login();'></p>

{% endblock %}
