
{% extends "base.html" %}

{% block extrahead %}
<style type="text/css">
	pre { word-wrap: break-word; white-space: pre-wrap; }
</style>
{% endblock %}

{% block content %}
	<pre>{{profile|safe}}</pre>
{% endblock %}
